<!DOCTYPE html>

<html>
    <head>
        <style type="text/css">
            *.title{
    font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
    font-size: 45px;
}

*.body{
    font-family:Georgia,serif;
}

body{
    width:800px;
    margin:0 auto;
    padding:10px;

*.error{
    color:red;
}
</style>
        <title>Blog</title>
    </head>
    <body>
        <nav>
            <a href="/blog">Home</a>
            <a href="/blog/newpost">New Post</a>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
